.inner{
  width: 646px;
  margin-top: 74px;
}

.main_img{
  width: 646px;

}

.pro_exp{
  height: 200px;
  border: 1px black solid;
}

button{
  display: flex;
  float: right;
}

.b{
  width: 35px; height: 32px;
  margin-right: 5px;
  border: 1px orange solid;
}

.cost{
  font-size: 20px;
}

.Content{
  height: 200px;
}