.navbar_wrapper{
    width:1920px;
    height: 66px;
    background-color: white;
    box-shadow: 1px 1px rgb(214, 214, 214);
    display: flex;
    justify-content: center;
}
.navbar_content{
    display: flex;
    justify-content: center;
    width: 1090px;
    height: 60px;
    align-items: center;
}

.search_bar{
    margin-top: 10px;
    width: 429px;
    height: 40px;
    font-size: 12px;
    margin-right: 8px;
}
.use{
    width: 70px;
    margin-left: 21px;
    font-size: 14px;
}

.bang{
    height: 60px;
}

.log_b 
{   width: 97px;

}

.b_b 
{
    margin-left: 9px;
    width: 97px;
}



.buttons
{
    margin-right: 150px;
}
