.box {width:400px; 
    height: 50px;
    display: flex; 
    justify-content:flex-start;  
    border: 1px gray solid; 
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}

img{
    height: inherit;
}

.text_box {display: flex; justify-content:flex-start}

.name{
    width: 200px;
    font-size: 30px;
    text-align: center;
}

.explain{
    font-size: 30px;
}
